@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./resource/mixins.scss";
@import "./resource/variables.scss";

* {
    font-family: "poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}



.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.section-layout {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    overflow: hidden !important;

    @media (min-width: 992px) {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
}

//carousel connected on carousel1.js
.carousel-container-1 {
    .slick-dots {
        bottom: 10px;

    }

    .slick-dots li button:before {
        font-size: 12px;
        color: gray;

    }

    .slick-dots li.slick-active button:before {
        color: red;

    }

    .slick-container {
        width: 100%;
        height: 60vh;
        position: relative;
        overflow: hidden;

    }

    .slick-container>img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }

    @media all and (max-width: 480px) {
        .slick-container {
            width: 100%;
            height: 25vh;
            position: relative;
            overflow: hidden;

        }

    }

    @media all and (max-width: 1025px) {
        .slick-container {
            width: 100%;
            height: 35vh;
            position: relative;
            overflow: hidden;
            /* Ensures that the image does not overflow the container */
        }

    }
}

//connected in sliderbutton.js
.carousel-container-2 {

    .custom-arrow {
        background-color: $secondary;
        color: $thirtyperpx;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .custom-prev-arrow {
        left: -50px;
    }

    .custom-next-arrow {
        right: -50px;
    }

    .slide {
        padding: 0 10px;
    }
}

// connected on carousel3.js
.carousel-container-3 {
    .slick-dots {
        bottom: 3%;
    }

    .slick-dots li button:before {
        font-size: 12px;
        color: gray;

    }

    .slick-dots li.slick-active button:before {
        color: red;
    }

    .slick-container {
        width: 100%;
        height: 80vh;
        position: relative;
        overflow: hidden;

    }

    .owner-details {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 90%;
    }

    .owner-details>div {
        width: 90%;
        height: 100%;
    }

    .owner-image {
        height: 75%;
        position: relative;
    }

    .owner-image>img {
        @include object-fit
    }

    .title {
        font-size: 32px;
        color: $Text2;
    }

    .subtitle {
        font-size: 16px;
        color: $Text2;
    }

    .icons {
        color: $Text2;
        font-size: 20px;
        font-weight: 600;
    }

    .owner-socials:hover {
        color: blue;
        cursor: pointer;
    }
}

.carousel-container-4 {
    .slider-container {
        width: 100%;
        // height: 80%;
        margin: auto;
        padding: 20px 0 80px 0;
    }

    .slick-container {
        width: 100%;
        height: 80vh;
        position: relative;
        overflow: hidden;
    }

    .slick-container>img {
        @include object-fit
    }

    .slick-dots {
        position: absolute;
        bottom: -50px;
        display: flex !important;
        justify-content: center;
        padding: 0;
        list-style: none;
    }

    .slick-dots li {
        width: auto;
        margin: 0 5px;
    }

    .slick-dots li button {
        display: none;
    }

    .slick-dots li img {
        width: 60px;
        height: 40px;
        object-fit: cover;
        border: 2px solid transparent;
        border-radius: 5px;
        transition: border 0.3s ease;
    }

    .slick-dots li.slick-active img {
        border-color: #007bff;
    }


}

// auth
.auth-contain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    .auth-img {
        @include object-fit
    }

    .auth-innerdiv {
        @include flex-between;
    }

    .auth-contain-inner {
        display: flex;
        justify-content: start;
    }

    .auth-box-1 {
        width: 50%;
        height: 80vh;
    }

    .auth-box-2 {
        // float: left;
        width: 50%;
        height: 80vh;
    }

    .auth-box-inner {
        width: 100%;
        height: 100%;
        float: left;
        position: relative;
    }

    .auth-content {
        @include flex-center;
        align-items: center;
        height: 100%;
    }

    .auth-content-inner {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
    }

    .input-Auth {
        border-top: none;
        border-right: none;
        border-left: none;
        padding-left: 0;

        &:focus {
            box-shadow: none;
        }
    }

    // .input-Auth::focus {
    //     outline: none;
    // }

    // sign
    .signin-button {
        width: 30%;
        background-color: $Button2;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
            background-color: $HoverButton;
        }
    }

    .signin-button-grp {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .auth-login {
        cursor: pointer;
        text-decoration: underline;
    }

    .auth-login:hover {
        color: blue;
    }

    // signup
    .signup-button {
        width: 100%;
        background-color: $Button2;
        border: none;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
            background-color: $HoverButton;
        }
    }

    .signup-haveaccount {
        text-align: center;
    }

    .title1 {
        font-size: 36px;
    }

    .title2 {
        font-size: 16px;
    }
}

// footer
.footer {
    background-color: $Button;
    margin-top: auto;

    .copyright {
        @include flex-center;
        color: $primary;
        border-top: 1px solid $primary;
        padding-top: 10px;
        margin-top: 20px;
    }

    .footer-title {
        @include flex-column;
        gap: 10px;
        color: $Text;
    }

    .footer-content {
        @include flex-column;
        gap: 5px;
        color: $Text;
    }
}

// navbar
.nav-container {
    border-bottom: 0.5px solid $Button;
    padding-top: 15px;

    // position: fixed;
    // width:100%;
    // z-index: 1;
    // margin-bottom:
    .navbar {

        .text2-color {
            color: $Button;
        }

        .nav-title {
            font-size: 24px;
        }

        .navItems {
            color: $Button;
            font-weight: 400;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .nav-right-bar {
            display: flex;
            justify-content: center;
            gap: 20px;
            align-items: center
        }

        .cart-conainer {
            position: relative;
        }

        .cart-num {
            position: absolute;
            top: -0.2rem;
            right: -0.4rem;
        }
    }
}

.product-title {
    .left-stick {
        width: 10px;
        height: 24px;
        background-color: $Button2
    }

    .title-2-sec {
        display: flex;
        justify-content: space-between;
    }

    .timer-button-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 65%;
    }

    .title1 {
        font-size: 16px;
        font-weight: bold;
        color: $Button2;
    }

    .title2 {
        font-size: 48px;
        font-weight: 600;
        color: $Text2;
    }
}

#countdown {
    .timing-container {
        display: flex;
        justify-content: center;
        align-items: end;
    }

    .timing-info {
        font-size: 12px;
        font-weight: 600;
        color: $Text2;
    }

    .timing-num {
        font-size: 32px;
        font-weight: bold;
        color: $Text2;
    }

    .coolun {
        color: $HoverButton ;
        font-size: 18px;
        font-weight: 700;
    }
}

.carousel-container {
    .slider-button {
        padding: 12px 18px;
        background-color: $Button2;
        border: none;

        &:hover {
            background-color: $HoverButton;
        }
    }


}

.card {
    width: 18rem;
    position: relative;

    .card-hover-sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: absolute;
        height: 200px;
        width: 100%;
        opacity: 0;
        border-radius: inherit;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

    .card-hover-sec>span {
        background-color: $Secondary2;
        width: 20%;
        text-align: center;
        border-radius: 3px;
        margin: 5px 5px;
    }

    .card-button {
        background-color: $Text2;
        border-radius: 0;
        border: 0;
        width: 100%;
        text-align: center;

        &:hover {
            background-color: $HoverButton2;
        }

    }

    .card-body {
        padding-left: 0;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }

    .card-title {
        font-size: 16px;
        color: $Text2;

    }

    .card-text {
        color: $Secondary2;
        margin: 0;
    }

    .card-text>span {
        color: $Button;
        margin-left: 5px;
        text-decoration: line-through;
    }

    .card-rating {
        display: flex;
        align-items: end;
        gap: 2px;
    }

    .card-rating>div:nth-child(2) {
        font-size: 14px;
    }

}

.newproducts {

    .newproduct-image {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .product-content {
        position: absolute;
        background-color: #00000087;
        opacity: 0.8;
        width: 100%;
        height: 100%;
        color: #ffff;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 1rem 1rem;

    }

    .product-content>div:nth-child(1) {
        font-size: 24px;
        font-weight: 600;
    }

    .product-content>div:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
    }

    .product-content>div:nth-child(3) {
        font-size: 16px;
        font-weight: 400;
        text-decoration: underline;

        &:hover {
            color: #ffffff6d
        }
    }

    .newproduct-image>img {
        @include object-fit;
    }

    .product-container {
        cursor: pointer;
    }

    .product-container>div:nth-child(1) {
        height: 80vh;
    }

    .product-container>div:nth-child(2) {
        padding-bottom: 0.5rem;
        height: 40vh;
    }

    .product-container>div:nth-child(3) {
        padding-top: 0.5rem;
        margin-top: -40vh;
        height: 40vh;
    }

    .product-container>div:nth-child(4) {
        padding-top: 0.5rem;
        margin-top: -40vh;
        height: 40vh;
    }
}

.services {
    .services-icon {
        width: 70px;
        height: 70px;
        background-color: $primary1;
        border-radius: 50%;
        @include flex-center-center;
    }

    .services-icon>div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $Button;
        color: white;
        font-size: 24px;
        @include flex-center-center;
    }

    .title {
        font-size: 20px;
        font-weight: 600;
        color: $Button;
    }

    .subtitle {
        font-size: 14px;
        font-weight: 400;
        color: $Button;
    }
}

.story {
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .story-img {
        position: absolute;
        width: 45%;
        height: 100%;
        right: 0;
    }

    .story-img>img {
        @include object-fit
    }

    .content {
        width: 50%;
    }

    .title {
        font-size: 54px;
        font-weight: 600;
        color: $Text2
    }

    .paragraph {
        color: $Text2
    }
}

.history {

    .history-container {
        border: 1px solid $primary1;
        padding: 1rem 1rem;
        cursor: pointer;
        width: 100%;
        height: 100%;
    }

    .history-icon {
        width: 60px;
        height: 60px;
        background-color: $primary1;
        border-radius: 50%;
        @include flex-center-center;
    }

    .history-icon>div {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $Button;
        color: white;
        font-size: 20px;
        @include flex-center-center;
    }

    .title {
        font-size: 32px;
        font-weight: bold;
        color: $Button;
    }

    .subtitle {
        font-size: 16px;
        font-weight: 400;
        color: $Button;
    }

}

.contactus {

    .contact-icon {
        width: 2rem;
        height: 2rem;
        background-color: $Button2;
        border-radius: 50%;
        color: $Text;
        @include flex-center-center
    }

    .text-container {
        // border: 1px solid;
        padding: 1.5rem 0.8rem;
    }

    .text-content {

        font-size: 14px;
        color: $Button;
        padding: 1.5rem 1.2rem;
        -webkit-box-shadow: 1px 1px 11px 0px rgba(46, 45, 46, 0.36);
        -moz-box-shadow: 1px 1px 11px 0px rgba(46, 45, 46, 0.36);
        box-shadow: 1px 1px 5px 0px rgba(46, 45, 46, 0.36);

    }

    .info-sec {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .contact-content {
        font-size: 16px;
        font-weight: 600;
    }

    .link {
        color: $Button;
        text-decoration: none;
    }

    .input-sec {
        display: flex;
        justify-content: space-between;

    }

    .input-container {
        width: 32%;
    }

    .input {
        background-color: $secondary;
        border-radius: 0px;
        border: none;
    }

    .text-style {
        height: 13rem;
    }

    .send-button {
        background-color: $Button2;
        border: none;
        padding: 5px 25px;

        &:hover {
            background-color: $HoverButton;
        }
    }
}

.Details {
    .details-sec {
        @include flex-center-center;
        height: 100%;
    }

    .detail-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        color: $Text2;
    }

    .price {
        font-size: 24px;
        font-weight: 400;
        color: $Text2;
    }

    .desc {
        font-size: 14px;
        font-weight: 400;
        color: $Text2;
    }
    .qty-contain {
        border: 1px solid $primary1;
        display: flex;
        align-items: center;
        border-radius: 2px;
        cursor: pointer;
    }


    .minus {
        padding: 0.3rem 1rem;
        font-size: 20px;
        border-right: 1px solid $primary1;
    }

    .plus {
        padding: 0.3rem 1rem;
        font-size: 20px;
        background-color: $Button2;
        color: white;
    }
    .qty{
        padding: 0.3rem 1.5rem;
        font-size: 20px;
    }

    .order-button{
        background-color: $Button2;
        color: $Text;
        padding: 0.3rem 1.5rem;
        border: none;

        &:hover{
          background-color: $HoverButton;
        }
    }
    .offers-contain{
        border: 1px solid $primary1;
        border-radius: 5px;
    }
    .offers-contain>div:nth-child(1){
        border-bottom: 1px solid $primary1;
    }
    .offers{
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem;

    }
    .offer-icon{
       font-size: 28px;
       font-weight: 600;
       color: $Button;
    }

    title{
        font-size: 16px;
        font-weight: 500;
        color: $Button;
    }
    
    .subtitle{
        font-size: 12px;
        font-weight: 500;
        color: $Button;
    }
    .subtitle>span{
        text-decoration: underline;
        cursor: pointer;
    }

}