
@mixin flex-center{
    display: flex;
    justify-content: center;
}
@mixin flex-between{
    display: flex;
    justify-content: space-between;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin object-cover{
    width:100%;
    height:100%;
    object-fit:cover;
}
@mixin object-fit{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
