/* App.css */
@import "./variables.scss";

.custom-arrow {
  background-color: $secondary;
  color: $thirtyperpx;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-prev-arrow {
  left: -50px; /* Adjust the left position */
}

.custom-next-arrow {
  right: -50px; /* Adjust the right position */
}

.slide {
  padding: 0 10px; /* Adjust the space between slides */
}
